<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Registro de calificaciones</strong> by <b>Alejandro Cruz Bravo.</b>
        <br> The source code is licensed <a href="http://www.cbtis253.edu.mx/">CBTIS 253</a>
      </p>
      <a href="https://www.facebook.com/253CBTis"><img src="img/facebook.svg" width="55px" height="55px"></a>
      <a href="https://cbtis253.ozelot.tech/"><img src="img/internet.svg" width="55px" height="55px"></a>
      <img src="img/instagram.svg" width="55px" height="55px">
    </div>
  </footer>